body {
  	background-image: url(../img/back-main.jpg);
  	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
  }

p {
	font-size: 20px;
}

.skill-html {
  background-image: url("../img/icon-html.svg");
}

.skill-css {
  background-image: url("../img/icon-css.svg");
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #080208;
  border: 1px solid #712073;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #fea18d;
  border-radius: 6px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #712073;
  color: #ffffff;
}